@font-face {
  font-family: 'DIN';
  src: url('./assets/fonts/DIN-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'DIN';
  src: url('./assets/fonts/DIN-Bold.woff') format('woff');
  font-weight: 700;
}

html {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  line-height: 1;
  box-sizing: border-box;
}

button {
  font-family: "Cairo", sans-serif;
}

.d-none {
  display: none !important;
}

canvas {
  position: absolute;
  z-index: -2;
  top: 0;
  visibility: hidden;
}

@media (max-width: 991px) {
  .card-wrapper {
    flex-direction: column;
  }

  .receiver-wrapper {
    position: absolute;
    /* bottom: 8.5%;
		right: 0%; */
    bottom: 24.5%;
    transform: none;
    max-width: 150px;
    height: fit-content;
  }

  .receiver-name {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
  }

  .card-wrapper-right {
    flex: auto;
    width: 100%;
    padding-top: 16px;
  }

  .card-wrapper {
    flex-direction: column;
    padding: 30px 0;
    width: 320px;
  }

  .card-wrapper-left {
    overflow: hidden;
    position: relative;
  }

  .card-wrapper-left img {
    width: 320px;
  }
}

.show-mob {
  display: none;
}

.hide-mob {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 767px) {
  .hide-mob {
    /* display: none; */
    img {
      width: 300px;
    }
  }
  .show-mob {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.show-mob .receiver-wrapper {
  max-width: 151px;
  /* right: 28%; */
}
